/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #0E0B16;
}

header {
    height: 50vh;
    display: flex;
}

.menu {
    position: fixed;
    width: 100vw;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.calc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    border: 2px solid #111;
    max-width: 400px;
    border-radius: 5px;
    /* arredonda as bordas */
}

.calculator input {
    /* reset basic form styles */
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 10px;
    width: 100%;
    border-bottom: 2px solid #111;
    color: #333;
    text-align: right;
    font-size: 40px;
    border-radius: 0;
}

.number {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10;
}

.numbers {
    /* small spacing within our container */
    padding: 20px;
    /* the grid stuff! */
    display: grid;
    /* create 4 columns */
    grid-template-columns: repeat(4, 1fr);
    /* add the grid gap */
    grid-gap: 15px;
}

.digit {
    background: rgba(0, 0, 0, 0.5);
    /* light background with opacity 50% */
    border: 1px solid #111;
    /* black border */
    padding: 20px;
    color: #EEE;
    /* white text */
    border-radius: 5px;
    /* rounded corners */
    font-size: 22px;
    /* larger fonts */
    cursor: pointer;
    /* make it look clickable */
}


/* span across 3 columns */

.is-zero,
.is-clear {
    grid-column: span 3;
}


/* go blue */

.is-clear {
    background: #3572DB;
}

.is-equals {
    background: #28D060;
}


.subtitle,
.title {
    text-align: center;
    color: white;
}
